<!-- App Header View -->
<app-header></app-header>
<div>
  <img class="landingImage img-fluid" src="https://i.postimg.cc/vTVbFY6N/Home-1.png" alt="">
</div>
<!-- <button class="productDemo btn btn-success btn-lg">Product Demo</button> -->


<div class="appContent">
  <div class="conntainer-fluid g-0">


    <!-- Main Content -->
    <main>
      <div class="container functions bg-light">
        <!-- Area to Add and Search Employees -->
        <div class="toolbar container ">
          <div class="search-employee d-flex ">
            <input class="search-box form-control border-secondary rounded-pill " type="search"
              placeholder="Search Employee" id="search-input" (input)="searchEmployees(searchInput.value)" #searchInput>

            <button class="btn btn-outline-lig text-dark rounded-pill " type="button">
              <i class="fa fa-search fa-md"></i>
            </button>
          </div>
          <div class="add-employee">
            <button #addEmployeeButton class="add-button btn btn-warning fw-bolder" data-bs-toggle="modal"
              data-bs-target="#exampleModal" type="button">Add Employee</button>
          </div>
        </div>
      </div>
      <div class="employees">
        <!-- Area to display No employees -->
        <div class="row mt-5" *ngIf="employee.length == 0">
          <div class="col text-center">
            <span class="text-secondary fs-2 fw-bold fst-italic">There are no employees added!</span>
          </div>
        </div>
        <!-- Employee Display Card` -->
        <div class="row m-5 p-2" *ngFor="let employee of employeesToDisplay; let ei = index;">
          <div class="col">
            <app-display-employee [employee]="employee" (onRemoveEmployee)="removeEmployee($event)"
              (onEditEmployee)="editEmployee($event)"></app-display-employee>
          </div>
        </div>
      </div>

    </main>



  </div>

  <!-- Modal -->
  <div class=" modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="regform modal-dialog rounded-3" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bolder" id="exampleModalLabel">Enter Employee Information</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="employeeForm">
            <!-- First Name and Last Name -->
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
              </div>
              <div class="col">
                <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
              </div>
            </div>
            <!-- ends -->
            <!-- Personal Information -->
            <div class="row mt-5 mb-2">
              <div class="col">
                <h6 class="text-warning fst-italic">Personal Information</h6>
              </div>
            </div>
            <!-- pi ends -->
            <!-- First row -->
            <div class="row">
              <!-- Birth Date -->
              <div class="col">
                <label for="datepicker" class="form-label text-secondary">Birth Date</label>
                <input type="date" class="form-control" formControlName="birthDate" id="datepicker">
              </div>
              <!-- ends -->
              <!-- Gender -->
              <div class="col">
                <div class="row">
                  <h6 class="text-secondary">Gender</h6>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="male"
                        value="m">
                      <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="female"
                        value="f">
                      <label class="form-check-label" for="female">Female</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="other"
                        value="o">
                      <label class="form-check-label" for="other">Other</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ends -->
            </div>
            <!-- fr ends -->
            <!-- Second Row -->
            <div class="row mt-3">
              <div class="col">
                <select class="form-select" formControlName="education" name="" id="">
                  <option value="default" selected>Select Your Education</option>
                  <option *ngFor="let option of educationOptions; let i = index;" value="{{i}}">{{option | titlecase}}
                  </option>
                </select>
              </div>
            </div>
            <!-- sr rends -->
            <!-- third row -->
            <div class="row mt-3">
              <div class="col">
                <label for="profile" class="form-label text-secondary">Profile Image</label>
                <input type="file" class="form-control" id="profile" #fileInput>
              </div>
            </div>
            <!-- Job Information -->
            <div class="row mt-5 mb-2">
              <div class="col abc">
                <h6 class="text-primary fst-italic">Job Information</h6>
              </div>
            </div>
            <!-- ji ends -->
            <!-- company name -->
            <div class="row ">
              <div class="col">
                <input type="text" class="form-control" formControlName="company" placeholder="Company Name">
              </div>
            </div>
            <!-- cn ends -->
            <!-- Job Experience and Salary -->
            <div class="row mt-3">
              <div class="col">
                <input type="number" class="form-control" formControlName="jobExperience"
                  placeholder="Experience (In years)">
              </div>
              <div class="col">
                <input type="text" class="form-control" formControlName="salary" placeholder="Salary (Per Annum)">
              </div>
            </div>
            <!-- je and s ends -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" data-bs-dismiss="modal" (click)="addEmployee()" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal ends -->
</div>
<!-- App Footer View -->
<app-footer></app-footer>